@page "/"

<PageTitle>Index</PageTitle>

<h1>
    Building the web with Blazor
</h1>

<p>
    Together, these tools create a robust ecosystem for web development with Microsoft technologies
</p>

<ul>
    <li>
        <strong>C#</strong> is the programming language
    </li>
    <li>
        <strong>.NET</strong> is the framework
    </li>
    <li>
        <strong>Razor</strong> is a syntax used for embedding server-side code into web pages
    </li>
    <li>
        <strong>Blazor</strong> is a web framework that enables developers to build web applications using C# for both client-side and server-side development
    </li>
</ul>


<SurveyPrompt Title="How is Blazor working for you?" />
